[project]
	description = Additional code relevant to creating a scala distribution.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Peng (mpeng)
[access "refs/for/refs/*"]
	read = group user/Michael Peng (mpeng)
	push = group user/Michael Peng (mpeng)
	label-Code-Review = -2..+2 group user/Michael Peng (mpeng)
	label-Verified = -1..+1 group user/Michael Peng (mpeng)
	rebase = group user/Michael Peng (mpeng)
	removeReviewer = group user/Michael Peng (mpeng)
	submit = group user/Michael Peng (mpeng)
[access "refs/heads/*"]
	read = group user/Michael Peng (mpeng)
	create = group user/Michael Peng (mpeng)
	push = +force group user/Michael Peng (mpeng)
	pushMerge = group user/Michael Peng (mpeng)
[access "refs/tags/*"]
	push = group user/Michael Peng (mpeng)
	push = +force group user/Michael Peng (mpeng)
